/target
tmp/
/log
/.idea

# Ignore build artifacts in all packages
packages/*/target/
packages/**/target/
packages/*/Cargo.lock
packages/**/incremental/
packages/**/deps/
packages/**/build/
packages/**/*.pdb
packages/**/*.d